In [ ]:
#Create a list

l=["apple","banana","cherry"]
print(l)

['apple', 'banana', 'cherry']

In [ ]:
l1=["apple",1,True,1.45,'c']
l1

['apple', 1, True, 1.45, 'c']

In [ ]:
l

['apple', 'banana', 'cherry']

In [ ]:
#Accesing elements in the list --positive indexing

print(l[0])
print(l[1])
print(l[2])

apple
banana
cherry

In [ ]:
#Negative indexing

print(l[-1])
print(l[-2])
print(l[-3])

cherry
banana
apple

In [ ]:
l=[1,3,4,5,6,8,10]
#print all elements in this list using a loop and acces the first and last elements


for i in l:
  print(i,end = " ")

1 3 4 5 6 8 10

In [ ]:
#Length of the list

#To determine how many values or items a list has - we use len() function

print(len(l))

7

In [ ]:
#Lists are mutuable -- after creating a  list you can change the values in the list,update them and also delete them

l[0]=100
l[3]=2
l

[100, 3, 4, 2, 6, 8, 10]

In [ ]:
#delete an element from the list

del l[0]
l

[3, 4, 2, 6, 8, 10]

In [ ]:
#check the data type
l1=["apple",1,True,1.45,'c']
print(type(l1))
for i in l1:
  print(type(i))

<class 'list'>
<class 'str'>
<class 'int'>
<class 'bool'>
<class 'float'>
<class 'str'>

In [ ]:
#Add elements to the list

l=[1,4,5,6,7,8]
l.append(10)
l

#value will be added at the end of the list

[1, 4, 5, 6, 7, 8, 10]

In [ ]:
l.insert(3,10)
l

[1, 10, 4, 10, 5, 6, 7, 8, 10]

In [ ]:


#Create a list of your own and perform the following task

## 1. Check the length of list
## 2. Access the first and last elements in the list
## 3. Check the data type
## 4. Add 100 at the end of the list
## 5. Add 15 at index position 3 and 25 at index position 4 and 35 at index position 0
## 6. Check the length of the list after these opeartions


l=[4,8,12,16,20]
print(len(l))
print(l[0])
print(l[-1])
print(type(l))

l.append(100)
print(l)

#insert method

l.insert(3,15)
l.insert(4,25)
l.insert(0,35)

print(l)
print(len(l))


#lists are mutuable

l[1]=40
l

del l[1]
l

5
4
20
<class 'list'>
[4, 8, 12, 16, 20, 100]
[35, 4, 8, 12, 15, 25, 16, 20, 100]
9

[35, 8, 12, 15, 25, 16, 20, 100]

In [ ]:
#List can Handle duplicate elements

l.insert(1,8)
l

[35, 8, 8, 12, 15, 25, 16, 20, 100]

In [ ]:
set(l) #This is not allowing duplicate elements

{8, 12, 15, 16, 20, 25, 35, 100}

In [ ]:
#Slicing

l[0:4]
l[0:4:2]

l[:6]
l[2:]

[8, 12, 15, 25, 16, 20, 100]

In [ ]:
l=[1,2,3,4,5,7,8,9]

#l[start:end:step]

l[0:4:2]

[1, 3]

In [ ]:
l=[35, 8, 8, 12, 15, 25, 16, 20, 100,124,23,45]

#ascending order
l1=sorted(l)
l1

#descending order
l2=sorted(l,reverse=True)
l2

[124, 100, 45, 35, 25, 23, 20, 16, 15, 12, 8, 8]

#Create a list of your own and perform the following task

## 1. Check the length of list
## 2. Access the first and last elements in the list
## 3. Check the data type
## 4. Add 100 at the end of the list
## 5. Add 15 at index position 2 and 25 at index position 8 and 35 at index position 1
## 6. Check the length of the list after these opeartions

#7 Arrange them in asecnding order and store it in other list and do the same for desending order

In [ ]:
l=[35,48,47,33,1,2,3,4,8,10,9,67,34,60,75,46,3,4,10,15]
print(len(l))
print(l[0]) #First element
print(l[-1]) #last element
print(type(l))

#add 100 to the end of the list

l.append(100)
print(l)

#insert

l.insert(2,15)
l.insert(8,25)
l.insert(1,35)

print(l)
print(len(l))


#sorting

l1=sorted(l,reverse=False) #ascending order
print(l1)

l2=sorted(l,reverse=True) #descending Order
print(l2)

20
35
15
<class 'list'>
[35, 48, 47, 33, 1, 2, 3, 4, 8, 10, 9, 67, 34, 60, 75, 46, 3, 4, 10, 15, 100]
[35, 35, 48, 15, 47, 33, 1, 2, 3, 25, 4, 8, 10, 9, 67, 34, 60, 75, 46, 3, 4, 10, 15, 100]
24
[1, 2, 3, 3, 4, 4, 8, 9, 10, 10, 15, 15, 25, 33, 34, 35, 35, 46, 47, 48, 60, 67, 75, 100]
[100, 75, 67, 60, 48, 47, 46, 35, 35, 34, 33, 25, 15, 15, 10, 10, 9, 8, 4, 4, 3, 3, 2, 1]

#List methods

In [ ]:
#Append : Adds an element at the end of the list

l=[1,2,3,4,5,6]
l.append(7)
print(l)

[1, 2, 3, 4, 5, 6, 7]

In [ ]:
#Clear : Removes all elements from the list
l=[1,4,5]
l.clear()
print(l)

[]

In [ ]:
#copy : returns a copy of the list

l=[1,2,3,4,5]

l1=l.copy()
print(l1)
print(l)

[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5]

In [ ]:
#count : Returns the number of elements with the specificed value

l2=[2,2,3,4,5,5,6,6,6]



#Find out the count of each and every element in the list

for i in l2:
  print(i,l2.count(i))

2 2
2 2
3 1
4 1
5 2
5 2
6 3
6 3
6 3

In [ ]:
#Reverse :

l2=[2,2,3,4,5,5,6,6,6]
l2.reverse()
## other way:

l3=l2[::-1]
print(l3)

[2, 2, 3, 4, 5, 5, 6, 6, 6]

In [ ]:
#index : returns the index of the first element with the specified value

l2=[4,5,2,2,2,2]
l2.index(2)

2

In [ ]:
#Pop : removes the element at the specified position


l2.pop(3)
l2

[2, 2, 3, 5, 5, 6, 6, 6]

#When u need to add a specific element at a particular index position you need to use insert method and if u want to remove a specific element at a particular position then u need to use pop method

In [ ]:
#List comprehension


l=[1,2,3,4,5,6,7,8,9,10]

for i in l:
  if i%2==0:
    print(i)

2
4
6
8
10

In [ ]:
l1=[x for x in l if x%5==0]
l1

[5, 10]

In [ ]:
l2=[x for x in l if x%5==0]
l2

[5]

In [ ]:
l=[2,8,10,16,22]

#Print composite numbers only using list comprehension

In [ ]:
#Find squares of the numbers using list comprehension method

l=[1,2,3,4,5]

for i in l:
  print(i**2)

1
4
9
16
25

In [ ]:
l1=[i**2 for i in l]
l1

[1, 4, 9, 16, 25]

In [ ]:
n=20

if n%2!=0:
  print('weird')

elif n%2==0 and n in range(2,6):
  print('not weird')
elif n%2==0 and n in range(6,21):
  print('weird')

weird